@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat" , sans-serif;
}
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #000;
    position: relative;
}
video{
    object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header{
    z-index: 1;
    height: 125px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    flex-direction: row;
    background-color: rgb(255, 255, 255 , 0.2);
    width: 100%;
}

.nav-links .list a{
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    color: #243c6a;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    transition: all 0.5s ease;

}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    z-index: 2;
}
.btncontactus{
    top: 0;
    margin-top: 15px;
}
.btncontactus a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 9px 25px;
    background-color: #75c7b9;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
   
}
.btncontactus a{
    color: #444;
    background-color: transparent;
}
.btncontactus a:hover{
    background-color: rgb(116,218,201);
    color: white;
    box-shadow: 5px 5px 10px #888;
}

.list{
    margin-top: 10px;
    list-style: none;
}
.list li{
    display: inline-block;
    padding: 0px 15px;
    
}
.list li, a{
    transition: all 0.3s ease 0s;
}
.nav-links ul li{
    justify-content: center;
}
.nav-links ul li a{
    padding: 5px 8px;
    border-bottom: 1px solid transparent ;
}
.nav-links ul li a:hover{
    color: rgb(118, 228, 191);;
    border-bottom: 1px solid #75c7b9;

}


.burger{
    display: none;
    cursor: pointer;
    margin-right: 10%;
}
.burger div{
    transition: all 0.3s ease;
    width: 25px;
    height: 2px;
    background-color: #75c7b9;
    margin: 5px;
}
.left{
    width: 70%;
   
    
}
.logo1{
    width: 150px;
    height: 112.5px;
    margin-right: 200px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.nav-links .list a{
    font-size: 14px;
     font-weight: 600;
}
.list li{
    padding: 10px;
}
/*navigation translation*/
 @keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;

}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);

}




.gallery-container{
    margin: 80px;
    padding: 30px;
}
.gallery-container .event-galley{
 margin-bottom: 100px;
 width: 100%;
 background: #43C6AC;  /* fallback for old browsers */
 background: -webkit-linear-gradient( -355deg, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(-60deg, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 

 padding: 20px;
}
.gallery-container .event-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 50px;
}
.gallery-container .event-title img{
    border: 1px transparent solid;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: -100px ;
}
.gallery-container .event-title p{
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 35px;
    margin-top: 50px;
    line-height: 25px;
}
.gallery-container .event-title span{
    color: white;
    margin-left: 30px;
    font-size: 35px;
    padding-bottom: 40px;
    text-align: left;
   
}
.gallery-container .event-title hr{
    border: 1px #537895 solid;
    margin-top: 30px;
    width: 80%;
    margin-left: 30px;
}
.gallery-container .event-photos{
    width: 100%;
    z-index: 5;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 35px;
    justify-content: space-evenly;
}
.gallery-container .event-photos img{
    width: 300px;
    height: 250px;
    margin: auto;
    padding: 10px;
    border: 1px transparent solid;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    filter: grayscale(100%);
}
.gallery-container .event-photos img:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(0%);
}
footer{position: relative;
    z-index: 3;
    background-color: #000a1b;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;  
}
.footer-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capiatlize;
    line-height: 3rem;
}
.footer-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer-social li{
    margin: 0 10px;
}
.footer-social a{
    text-decoration: none;
    color: white;
}
.footer-social a i{
    font-size: 1.1rem;
    transition:color 0.2s ease;
}
.footer-social a:hover{
    color: aqua;
}
.footer-bottom{
    background-color: #0f1b30;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 12px;
    word-spacing: 5px;
    text-transform: capitalize;
    
}
#btnScrollToTop img{
    position:absolute;
    right: 10px;
    bottom: 10px;
    position: fixed;
    color: black;
    text-shadow: 0px 10px 50px rgb(212, 212, 212);
    z-index: 4;
    outline: none;
    background: none;
    overflow: scroll;
}
#btnScrollToTop:hover{
    cursor: pointer; 
}
@media screen and (min-width: 605px) and (max-width: 1103px){
    .gallery-container{
        margin: 0px;
        padding: 10px;
    }
    .gallery-container .event-title p{
        margin-left: 0;
    }
    .gallery-container .event-title span{
        margin-left: 0;
    }
    .gallery-container .event-title hr{
        margin-left: 0;
    }
}
@media screen and (max-width: 605px){
    .gallery-container{
        margin: 0px;
        padding: 10px;
    }
    .gallery-container .event-title p{
        margin-left: 0;
    }
    .gallery-container .event-title span{
        margin-left: 0;
    }
    .gallery-container .event-title hr{
        margin-left: 0;
    }
}