/*first 3 media codes are for the layout*/
/*2 other media codes for the content*/
@media screen and (min-width: 820px) and (max-width: 1090px) {
     
    .nav-links {
        color: #75c7b9;
        width:50%;
        position:absolute;
        right: 0px;
        height: 520px;
        top: 125px;
        background-color: rgba(36, 60, 106,0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        margin-right: 0;
    }
    .nav-links .list a{
        color: #75c7b9;
        font-weight:700;
        position: relative;
    }
    .nav-links ul li{
        width: 100%;
    }
    .nav-active .list li{
        margin-top: 10px;
        list-style: none;
        padding: 0 0 30px;
    }
    .nav-links ul li a:hover {
        color: white;
        padding: 9px 25px;
        position:static;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        background-color: #364f7e;
    }
    
    .nav-links ul{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links li{
        padding: 30px;
        opacity: 0;
    
    }
    
    .burger{
        
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .btncontactus{
        margin-bottom: 30%;
    }
    .btncontactus a{
        color: white;
        
    }
    .btncontactus a:hover{
        border: white solid 1px;
        border-radius: 50px;
    }
    
}


@media screen and (min-width: 605px) and (max-width: 912px){
    .nav-links {
        color: #75c7b9;
        width:50%;
        position: absolute;
        right: 0px;
        height: 430px;
        top: 125px;
        background-color: rgba(36, 60, 106,0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        margin-right: -8px;
    }
    .nav-links .list a{
        color: #75c7b9;
        font-weight: 520;
    }
    .nav-links ul li a:hover {
        color: white;
        padding: 9px 25px;
        position:static;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        background-color: #364f7e;
    }
    .nav-active .list li{
        margin-top: 10px;
        list-style: none;
        padding: 0 0 20px;
    }
    button.contact:hover{
        background-color: #5f9c92;
        color: #243c6a;
    }
    .nav-links ul{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links li{
        padding: 30px;
        opacity: 0;
    
    }
    .logo1{
        margin-right: 50%;
     }
    .burger{
       
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .btncontactus{
        margin-bottom: 30%;
    }
    .btncontactus a{
        color: white;
      margin-bottom: 50%;
    }
    .btncontactus a:hover{
        border: white solid 1px;
        border-radius: 50px;
    }
}



@media screen and (max-width: 605px){
    .footer-container p{
        font-size: 10px;
    }
    .nav-links {
        color: #75c7b9;
        width:50%;
        position: absolute;
        right: 0px;
        height: 300px;
        top: 125px;
        background-color: rgba(36, 60, 106,0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        margin-right: -8px;
    }
    .nav-active .list li{
        margin-top: 10px;
        list-style: none;
        padding: 0;
    }
    .nav-links .list a{
        color: #75c7b9;
        font-weight: 520;
        padding: 7px 15px 7px 15px;
    }
    .nav-links ul li a:hover {
        color: white;
        padding: 9px 25px;
        position:static;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        background-color: #364f7e;
    }
    .nav-links ul li:hover{
        background-color: #364f7e;
    }
    
    button.contact:hover{
        background-color: #5f9c92;
        color: #243c6a;
    }
    .nav-links ul{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links li{
        padding: 30px;
        opacity: 0;
    
    }
    .logo1{
        margin-right: 0%;
     }
    .burger{
        
        display: block;
    } 
    .nav-active {
        transform: translateX(0%);
    }
    .btncontactus{
        margin-bottom: 30%;
    }
    .btncontactus a{
        color: white;
        
    }
    .btncontactus a:hover{
        border: white solid 1px;
        border-radius: 50px;
    }
   
}





@media screen and (min-width: 605px) and (max-width: 1103px){
    /*events*/
    .event-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
   
    /*career*/

    .career-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
   }
   .career-container .career-info{
     display: flex;
     flex-direction: column;
     padding-bottom:50% ;
     position: relative;
     padding-right: 40%;
     margin-bottom: 350px;
   }
   .career-container .career-info .joinus p{
       width: 200%;
   }
   .career-container .career-info .jobdescription .desctitle{
     font-size: 16px;
     border: none;
     line-height: 20px;
     letter-spacing: 1px;
     letter-spacing: 1px;
     font-weight: 100;
   }
   
   .career-container .career-info .jobselector{
       margin-left: 20px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       flex-wrap: wrap;
       position: relative;
       width: 200%;
   }
   
   .career-container .career-form form{
      width: 700px;
       border-radius: 0;
       background-size: cover;
   }
   .career-container .career-form{
       width: 100%;
       display: none;
   }
   

    /*contact us*/
    .contact-container{
        padding: 50px;

    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
    
    
    /*card media*/
    .card-container{
        display: none;
        }
        #service-icons{
            display: block;
        }
        .is-container{
            padding: 50px;
        }
        .is-wrap {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

        }
        .is-wrap a{
            text-align: center;
            text-decoration: none;
        }
        .is{
            width: 40%;
           padding: 10px;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-between;
           margin-bottom: 30px;
           text-align: center;
        }
        .is .icon{
            margin-bottom: 10px;
        }
        .is img{
            width: 150px;
            border: #243c6a 5px double;
           border-radius: 20px; 
           padding: 20px;
        }
        .is .service-name span{
            letter-spacing: 1px;
            margin: 10px;
            padding: 10px;
            
            
        }
        .is-wrap a:active{
            color: #0cebeb;
        }
        .is-wrap a:visited{
            color: black;
            text-decoration: none;
        }
video
{
    width: 100%;
    right: 0;
 }
 .para .para1{
    flex-direction: column;
}
.para .para1 .abtusimg{
    width: 100%;
}
.para .para1 .abtusimg img{
    width: 80%;
    height: 400px;
}
.para .para1 .abtusimg .empty{
    margin-top: 5%;
    width: 60%;
    height: 50px;
}
 .para{
    margin: 0;
    padding: 0;
 }
 .para .para1 .abtuspara{
    width: 100%;
    padding: 0;
 }
 .abtuspara a{
    margin-left: 30px;
 }
 .abtuspara p{
    word-spacing: 2px;
    font-weight: 700;
 }
 .abtuspara h1{
    padding: 20px;
    padding-top: 40px;
 }
 #cards{
    background: none;
 }

/*event slide show media*/
.swiper {
    
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height:600px;
  }
  .swiper-wrapper{
    left: 0;
    right: 0;
} 
.parallax-bg {
    width: 100%;
    padding-top: 0px;
}
.parallax-bg h1{
   margin: 0;
   text-align: left;
   margin-left: 20%;
   margin-top: 25%;
}
.parallax-bg p{
    margin: 0;
    margin-top: 10%;
    margin-left: 10%;
}
.parallax-bg a{
    align-items: center;
   
}
.parallax-bg h1{
    margin-top: 30px;
}
.swiper-button-prev{
    left: 0;
}
}




@media screen and (max-width: 605px){
    /*events*/
    .event-container{
        display: flex;
        flex-direction: column;
    }
  
   /*career*/

   .career-container{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}
.career-container .career-info{
  display: flex;
  flex-direction: column;
  padding-bottom:50% ;
  position: relative;
  padding-right: 40%;
  margin-bottom: 350px;
}
.career-container .career-info .joinus p{
    width: 200%;
}
.career-container .career-info .jobdescription .desctitle{
  font-size: 16px;
  border: none;
  line-height: 20px;
  letter-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 100;
}

.career-container .career-info .jobselector{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    width: 200%;
}

.career-container .career-form form{
   width: 700px;
    border-radius: 0;
    background-size: cover;
}
.career-container .career-form{
    width: 100%;
    display: none;
}

    /*contact us*/
    .contact-container{
        padding: 50px;

    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }

    /*cards*/
    
    .card-container{
    display: none;
    }
    #service-icons{
        display: block;
    }
    #service-icons .is-container .is-wrap {
        
        flex-wrap: wrap;
    }
    .is-container{
        padding: 50px;
    }
    .is-wrap a{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .is{
       padding: 10px;
       display: flex;
       flex-direction: column;
    
       justify-content: space-between;
       margin-bottom: 30px;       
    }
    .is .icon{
        margin-bottom: 10px;
    }
    .is-wrap a{
        text-decoration: none;
    }
    .is img{
        width: 150px;
        border: #243c6a 5px double;
       border-radius: 20px; 
       padding: 20px;
    }
    
    .is-wrap a:active{
        color: #0cebeb;
    }
    .is-wrap a:visited{
        color: black;
        text-decoration: none;
    }
 /*event slide show*/
 .swiper-button-prev{
    margin-left: 0;
}
.swiper {
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height:600px;
  }
  .swiper-wrapper{
    left: 0;
    right: 0;
} 
.parallax-bg {
    width: 100%;
    padding-top: 0px;
}
.parallax-bg h1{
    margin: 0;
    margin-top: 150px;
    margin-left: 80px;
    font-size: 26px;

}
.parallax-bg p {
    margin: 0;
    width: 80%;
    font-size: 16px;
}
.parallax-bg a{
    margin: 0;
    margin-left: 200px;
    margin-top: 70%;
}
.parallax-bg h1{
    margin-top: 30px;
}
.get{
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.get.get-card h3{
    display: none;
}
.para .para1{
    flex-direction: column;
}
.para .para1 .abtusimg{
    width: 100%;
}
.para .para1 .abtusimg img{
    width: 90%;
    height: 200px;
}
.para .para1 .abtusimg .empty{
    width: 60%;
    height: 50px;
}
 .para{
    margin: 0;
    padding: 0;
 }
 .para .para1 .abtuspara{
    width: 100%;
    padding: 0;
 }
 .abtuspara a{
    margin-left: 30px;
 }
 .abtuspara p{
    word-spacing: 2px;
    font-weight: 700;
 }
 .abtuspara h1{
    padding: 20px;
    padding-top: 40px;
 }
 #cards{
    background: none;
 }
}

